@mixin form() {
	display: block;
	// margin: 0 0 $spacing;
	width: 100%;
	line-height: 1;
	border-radius: 0;
	transition: all .25s ease-in-out;
	appearance: none;
	border: 1px solid $border-color;
	padding: $gutter;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
	@include form();
	margin: 0 0 $spacing;
	.gform_body & {
		margin: 0;
	}

}
body {
	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		@include form();
		margin: 0;
	}
	.gform_wrapper .gform_footer {
		margin: 0;
		padding: 0;
	}
}
textarea {
    line-height: 1.5;
}
select {
	margin: 0 0 $spacing;
	background: #fff;
    height: 2em;
    border: 1px solid $border-color;
    .gform_body & {
    	margin: 0;
    }
}
.search-form {
    display: flex;
    flex-direction: row;
    input {
        margin: 0;
    }
}



.input-group {
    position: relative;
    display: table;
    margin: 0 0 1.618rem;
    border-collapse: separate;
    input {
        margin: 0;
        border-radius: 2px 0 0 2px;
        background-clip: padding-box;
        box-sizing: border-box;
    }
    .input-group, .form-input, .input-group-button {
        display: table-cell;
    }
    .input-group-button {
        position: relative;
        // font-size: 0;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        > button, > .button {
            margin-left: -1px;
            position: relative;
            border-radius: 0 2px 2px 0;
            background-clip: padding-box;
        }
    }
}

.gform_wrapper.gf_browser_chrome {
	.gform_body {
		.gfield_checkbox li input,
		.gfield_checkbox li input[type=checkbox],
		.gfield_radio li input[type=radio] {
			margin-top: 0;
		}
	}
}



body .gform_wrapper {
	margin: 0 0 20px;
	max-width: none;
	form {
		.gform_body {
			margin: 0 -16px 0 0;
			width: auto !important;
			li.gfield {
				// padding: 0 $gutter;
				margin: 0;
				width: 100%;
				margin-bottom: 16px;
				padding-right: 16px !important;
				max-width: none !important;
				.ginput_container {
					margin-top: 0 !important;
				}
			}
			ul.gform_fields, ul.gform_fields.top_label {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				li.gfield {
					// padding-right: 0;
					.ginput_complex {
						margin-bottom: -16px;
						> span {
							margin-top: 0;
							margin-bottom: 16px;
							padding-top: 0;
							&:last-child {
								// margin-bottom: 0;
							}
						}
					}
				}
				&.description_below {
					.gfield_description {
						padding: 0;
					}
				}
				@include breakpoint( 'sm' ) {
					.gf_right_half,
					.gf_left_half {
						width: 50% !important;
						max-width: none !important;
						padding-left: $gutter !important;
						padding-right: $gutter !important;
					}
					.gf_right_third,
					.gf_left_third,
					.gf_middle_third, {
						width: 33.33% !important;
						max-width: none !important;
						padding-left: $gutter !important;
						padding-right: $gutter !important;
					}
				}
			}
			.top_label {
				div.ginput_container {
					margin-top: 0;
				}
			}
		}
	}
	&.gform_validation_error {
		div.validation_error {
			color: #FFFFFF;
		    font-size: 1rem;
		    font-weight: normal;
		    margin-bottom: 0;
		    border: 1px solid #de2d0f;
		    background-color: #f04124;
		    padding: 1rem 0;
		    clear: both;
		    width: 100%;
		    text-align: center;
		    margin-bottom: $spacing;

		}
		.gform_body {
			ul.gform_fields {
				li.gfield.gfield_error {
					background-color: unset;
					// background-color: blue;
					margin-top: 0 !important;
					margin-left: 0 !important;
					margin-right: 0 !important;
					margin-bottom: 20px !important;
					// border-color: blue;
					padding-bottom: 0;
					padding-top: 0;
					// box-sizing: border-box;
					border: none;
					.gfield_label {
						color: #de2d0f;
					}
					input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
					textarea {
						border-color: #de2d0f;
					}
					&.gfield_contains_required div.ginput_container,
					&.gfield_contains_required label.gfield_label {
						margin-top: 0;
					}
					.validation_message {
						font-weight: normal;
						color: #de2d0f;
					}
					.gfield_required {
						color: #de2d0f;
					}
					@include breakpoint( 'sm' ) {
						.gf_right_half,
						.gf_left_half {
							width: 50% !important;
							max-width: none !important;
							padding-left: $gutter !important;
							padding-right: $gutter !important;
						}
						.gf_right_third,
						.gf_left_third,
						.gf_middle_third, {
							width: 33.33% !important;
							max-width: none !important;
							padding-left: $gutter !important;
							padding-right: $gutter !important;
						}

					}
				}
				li.gfield.gfield_error:not( .gf_left_half ):not( .gf_right_half ) {
					max-width: none !important;
					width: 100%;
				}
			}
		}
	}
}