h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: #3C3C3C;
	line-height: 1;
	margin: 0 0 $spacing;
	// clear: both;
	text-transform: uppercase;
}

.fl-module-heading .fl-module-content {
	margin-bottom: $spacing;
}

h1, .h1 {
	font-size: 1.8rem;
	font-family: $headline !important;
	font-weight: 400;
}

h2, .h2 {
	font-size: 1.6rem;
	font-family: $headline !important;
	font-weight: 400;
}

h3, .h3 {
	font-family: $sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}

h4, .h4 {
	font-family: $sans-serif;
	font-weight: 700;
	font-size: 1.25rem;
}

h5, .h5 {
	font-family: $sans-serif;
	font-weight: 600;
	font-size: 1.15rem;
}

h6, .h6 {
	font-family: $sans-serif;
	font-weight: 600;
	font-size: 1rem;
}